@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PingFang TC Regular', 'SF Pro Text', 'Noto Sans TC', 'Roboto', sans-serif, "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header a,
.header span {
  color: #8D8D8D;
}

.header span {
  position: relative;
  top: 3px;
}

.header a:hover {
  color: #a7a7a7;
}

.header a:hover span {
  color: #a7a7a7;
}

.header .cartNumber {
  background-color: red;
  color: white;
  display: inline-block;
  position: relative;
  left: -15px;
  top: -10px;
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  border-radius: 7px;
}

.text-hide {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.bg-logo {
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d’Perfume.png);
  width: 128px;
  height: 38px;
}

.footer-logo {
  background-image: url(../images/d’Perfumewhite.png);
  width: 128px;
  height: 38px;
}

.d-block {
  display: block;
}

.footer {
  background-color: #916000;
}

.footer a {
  -webkit-transition: .3s;
  transition: .3s;
}

.footer a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #ffda91;
}

@media (max-width: 768px) {
  .footer .footer__menu {
    display: none;
  }
}

.white {
  color: white;
}

.menu-show .mobile-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #707070;
  z-index: 2;
  position: absolute;
  top: 72px;
  left: 0;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-show .mobile-show a {
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  padding: 15px 0;
  border-bottom: 1px solid white;
}

.menu-show .mobile-show a:hover {
  background-color: #3d3d3d;
}

.mobile-show {
  display: none;
}

@media (max-width: 376px) {
  .copyright p {
    font-size: 14px;
    vertical-align: center;
  }
}

* {
  outline: 1px solid red;
}

.fz-2 {
  font-size: 16px;
}

.fz-3 {
  font-size: 24px;
}

.fz-4 {
  font-size: 32px;
}

.fz-5 {
  font-size: 40px;
}

.fz-20 {
  font-size: 20px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-60 {
  margin-bottom: 60px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-312 {
  padding-top: 312px;
}

.material-icons {
  cursor: pointer;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-40 {
  font-size: 40px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.banner {
  height: 870px;
  background: url(../images/index1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

@media (max-width: 376px) {
  .banner {
    height: 480px;
  }
}

.banner .container {
  height: 870px;
}

@media (max-width: 376px) {
  .banner .container {
    height: 480px;
  }
}

.shop-btn {
  width: 80%;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .shop-btn {
    width: 100%;
  }
}

.shop-btn a {
  text-align: center;
  display: block;
  border-radius: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-white {
  border: 2px solid white;
}

.btn-white a {
  border-radius: 30px;
  color: white;
}

.btn-white a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-black {
  width: 100%;
  border: 2px solid black;
}

.btn-black a {
  border-radius: 30px;
  color: black;
}

.btn-black a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.2);
}

.red {
  background-color: red;
}

.seeMore {
  color: #AC8A46;
}

.seeMore:hover {
  color: #c0a265;
}

@media (max-width: 376px) {
  .product {
    margin-top: 32px;
    padding: 0 15px;
  }
}

.product__img {
  max-height: 555px;
  overflow: hidden;
}

.longProduct__img {
  max-height: 1080px;
}

.text-delete {
  text-decoration: line-through;
}

.productList {
  background-color: #E0E0E0;
}

@media (max-width: 376px) {
  .productList .price {
    margin-bottom: 32px;
  }
}

.productList a {
  display: block;
  position: relative;
}

a.soldOut::before {
  content: "Sold Out";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.subscribe {
  background: url(../images/index10.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}

.subscribe h2 {
  color: #8D8D8D;
}

@media (max-width: 376px) {
  .subscribe .container {
    padding: 0 15px !important;
  }
}

.subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 376px) {
  .subscribe form {
    width: 100%;
  }
}

.subscribe input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 220px;
  padding: 20px 10px;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  border: 2px solid #916000;
}

.subscribe input::-webkit-input-placeholder {
  font-size: 16px;
}

.subscribe input:-ms-input-placeholder {
  font-size: 16px;
}

.subscribe input::-ms-input-placeholder {
  font-size: 16px;
}

.subscribe input::placeholder {
  font-size: 16px;
}

.subscribe input:focus {
  outline: none;
}

.subscribe input:focus::-webkit-input-placeholder {
  color: #ccc;
}

.subscribe input:focus:-ms-input-placeholder {
  color: #ccc;
}

.subscribe input:focus::-ms-input-placeholder {
  color: #ccc;
}

.subscribe input:focus::placeholder {
  color: #ccc;
}

.subscribe input[type="submit"] {
  max-width: 130px;
  border-radius: 0 5px 5px 0;
  color: white;
  background-color: #916000;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 16px;
}

.subscribe input[type="submit"]:hover {
  background-color: #784f00;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.brandNav {
  background-color: #916000;
}

.brandNav a {
  margin-right: 28px;
  color: white;
}

.brandNav a:hover {
  color: #f7a400;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.productWall {
  padding-top: 80px;
  background-color: white;
}

@media (max-width: 376px) {
  .productWall {
    padding: 40px 0;
  }
}

.productWall li {
  margin-bottom: 58px;
}

@media (max-width: 376px) {
  .productWall li {
    margin-bottom: 30px;
  }
}

@media (max-width: 376px) {
  .productWall .title h4 {
    font-size: 20px;
  }
}

.operation span {
  color: #916019;
}

.operation span:hover {
  color: #dc9734;
}

.pageLink {
  margin-bottom: 60px;
}

.pageLink a {
  color: black;
}

.pageLink a:hover {
  color: #c0a265;
}

@media (max-width: 376px) {
  .pageLink {
    margin-bottom: 40px;
  }
}

a.pageLink-active {
  text-decoration: underline;
  color: #AC8A46;
}
/*# sourceMappingURL=main.css.map */