.header {
    a,
    span {
        color: #8D8D8D;
    }
    span {
        position: relative;
        top: 3px;
    }
    a:hover {
        color: lighten(#8D8D8D, 10%);
        span {
            color: lighten(#8D8D8D, 10%);
        }
    }
    .cartNumber {
        background-color: red;
        color: white;
        display: inline-block;
        position: relative;
        left: -15px;
        top: -10px;
        width: 14px;
        height: 14px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        border-radius: 7px;
    }
}

.text-hide {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.bg-logo {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d’Perfume.png);
    width: 128px;
    height: 38px;
}

.footer-logo {
    background-image: url(../images/d’Perfumewhite.png);
    width: 128px;
    height: 38px;
}

.d-block {
    display: block;
}

.footer {
    background-color: #916000;
    a {
        transition: .3s;
        &:hover {
            transition: .3s;
            color: lighten(#916000, 50%);
        }
    }
    .footer__menu {
        @include pad {
            display: none;
        }
    }
}

.white {
    color: white;
}

.menu-show {
    .mobile-show {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #707070;
        z-index: 2;
        position: absolute;
        top: 72px;
        left: 0;
        text-align: center;
        // max-height: 500px;
        transition: .3s;
        a {
            transition: .3s;
            color: white;
            padding: 15px 0;
            border-bottom: 1px solid white;
            &:hover {
                background-color: darken(#707070, 20%);
            }
        }
    }
}

.mobile-show {
    display: none;
}

.copyright {
    p {
        @include mobile {
            font-size: 14px;
            vertical-align: center;
        }
    }
}