.brandNav {
    background-color: #916000;
    a {
        margin-right: 28px;
        color: white;
        &:hover {
            color: lighten(#916000, 20%);
        }
    }
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.productWall {
    padding-top: 80px;
    background-color: white;
    @include mobile {
        padding: 40px 0;
    }
    li {
        margin-bottom: 58px;
        @include mobile {
            margin-bottom: 30px;
        }
    }
    .title {
        h4 {
            @include pad {
                font-size: 20px;
            }
        }
    }
}

.operation {
    span {
        color: #916019;
        @include pad {
            position: relative;
            top: -30px;
        }
        &:hover {
            color: lighten(#916019, 20%);
        }
    }
}

.pageLink {
    a {
        color: black;
        &:hover {
            color: lighten(#AC8A46, 10%);
        }
    }
    margin-bottom: 60px;
    @include mobile {
        margin-bottom: 40px;
    }
}

a.pageLink-active {
    text-decoration: underline;
    color: #AC8A46;
}